.e5_482 { 
	overflow:hidden;
}
.e5_482 { 
	background-color:rgba(255, 255, 255, 1);
	width:1728px;
	height:1850px;
	position:absolute;
}
.e90_2813 { 
	width:1728px;
	height:150px;
	position:absolute;
	left:0px;
	top:0px;
}
.e90_2814 { 
	width:1728px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}
.e90_2815 { 
	background-color:rgba(0, 99.00000169873238, 65.0000037252903, 1);
	width:1728px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}
.e90_2816 { 
	color:rgba(255, 255, 255, 1);
	width:405px;
	height:50px;
	position:absolute;
	left:117px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e90_2817 { 
	transform: rotate(-90deg);
	width:30px;
	height:0px;
	position:absolute;
	left:532px;
	top:38px;
}
.e90_2817 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e90_2818 { 
	width:140px;
	height:50px;
	position:absolute;
	left:545px;
	top:0px;
}
.e90_2819 { 
	color:rgba(255, 255, 255, 1);
	width:70px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e90_2820 { 
	width:25px;
	height:25px;
	position:absolute;
	left:80px;
	top:12px;
}
.i90_2820_7758_11552 { 
	border:4px solid rgba(255, 255, 255, 1);
}
.ei90_2820_7758_11552 { 
	width:11.458333969116211px;
	height:20.833332061767578px;
	position:absolute;
	left:7.291666507720947px;
	top:2.0833332538604736px;
}
.e90_2821 { 
	width:25px;
	height:25px;
	position:absolute;
	left:115px;
	top:12px;
}
.i90_2821_7758_11762 { 
	border:4px solid rgba(255, 255, 255, 1);
}
.ei90_2821_7758_11762 { 
	width:20.833332061767578px;
	height:20.833332061767578px;
	position:absolute;
	left:2.0833332538604736px;
	top:2.0833332538604736px;
}
.e90_2822 { 
	width:130px;
	height:50px;
	position:absolute;
	left:1098px;
	top:0px;
}
.e90_2823 { 
	color:rgba(255, 255, 255, 1);
	width:105px;
	height:50px;
	position:absolute;
	left:25px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e90_2824 { 
	background-color:rgba(0, 99.00000169873238, 65.0000037252903, 1);
	width:25px;
	height:25px;
	position:absolute;
	left:0px;
	top:13px;
}
.ei90_2824_54626_27716 { 
	background-color:rgba(255, 255, 255, 1);
	width:16.666667938232422px;
	height:20.83333396911621px;
	position:absolute;
	left:4.166666507720947px;
	top:2.0833327770233154px;
}
.e90_2825 { 
	width:114.9737548828125px;
	height:50px;
	position:absolute;
	left:1294px;
	top:0px;
}
.e90_2826 { 
	color:rgba(255, 255, 255, 1);
	width:85px;
	height:50px;
	position:absolute;
	left:29.9737548828125px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e90_2827 { 
	width:25px;
	height:25px;
	position:absolute;
	left:0px;
	top:12px;
}
.i90_2827_7758_11756 { 
	border:4px solid rgba(255, 255, 255, 1);
}
.ei90_2827_7758_11756 { 
	width:20.833332061767578px;
	height:20.833332061767578px;
	position:absolute;
	left:2.0833332538604736px;
	top:2.0833332538604736px;
}
.e90_2828 { 
	width:170px;
	height:50px;
	position:absolute;
	left:1443px;
	top:0px;
}
.e90_2829 { 
	color:rgba(255, 255, 255, 1);
	width:145px;
	height:50px;
	position:absolute;
	left:25px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e90_2830 { 
	width:25px;
	height:25px;
	position:absolute;
	left:0px;
	top:12px;
}
.ei90_2830_54616_25460 { 
	background-color:rgba(255, 255, 255, 1);
	width:20.833332061767578px;
	height:20.833332061767578px;
	position:absolute;
	left:2.0833332538604736px;
	top:2.0833332538604736px;
}
.e90_2831 { 
	width:1728px;
	height:80px;
	position:absolute;
	left:0px;
	top:50px;
}
.e90_2832 { 
	background-color:rgba(0, 99.00000169873238, 65.0000037252903, 1);
	width:1728px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}
.e90_2833 { 
	width:1100px;
	height:66.72972869873047px;
	position:absolute;
	left:314px;
	top:10.1351318359375px;
}
.e90_2834 { 
	background-color:rgba(255, 255, 255, 1);
	width:1100px;
	height:64.86486053466797px;
	position:absolute;
	left:0px;
	top:1.8648681640625px;
}
.e90_2835 { 
	color:rgba(0, 0, 0, 1);
	width:1000px;
	height:64.86486053466797px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e90_2836 { 
	background-color:rgba(0, 99.00000169873238, 65.0000037252903, 1);
	width:90px;
	height:54.05405044555664px;
	position:absolute;
	left:1005px;
	top:6.486488342285156px;
}
.e90_2837 { 
	width:30px;
	height:32.432430267333984px;
	position:absolute;
	left:1035px;
	top:17.29730224609375px;
}
.i90_2837_7758_12194 { 
	border:4px solid rgba(255, 255, 255, 1);
}
.ei90_2837_7758_12194 { 
	width:22.5px;
	height:24.324321746826172px;
	position:absolute;
	left:3.75px;
	top:4.054053783416748px;
}
.e90_2838 { 
	width:35px;
	height:35px;
	position:absolute;
	left:1506px;
	top:22px;
}
.i90_2838_7758_12244 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.ei90_2838_7758_12244 { 
	width:32.08333206176758px;
	height:30.624998092651367px;
	position:absolute;
	left:1.4583337306976318px;
	top:1.4583337306976318px;
}
.e90_2839 { 
	background-color:rgba(0, 99.00000169873238, 65.0000037252903, 1);
	width:1728px;
	height:20px;
	position:absolute;
	left:0px;
	top:130px;
}
.e90_2840 { 
	width:105.0113754272461px;
	height:100px;
	position:absolute;
	left:117px;
	top:50px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_547 { 
	background-color:rgba(255, 255, 255, 1);
	width:1000px;
	height:900px;
	position:absolute;
	left:364px;
	top:375px;
}
.e5_547 { 
	border:5px solid rgba(0, 99.00000169873238, 65.0000037252903, 1);
}
.e5_548 { 
	background-color:rgba(0, 99.00000169873238, 65.0000037252903, 1);
	width:1000px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e5_551 { 
	width:879px;
	height:600px;
	position:absolute;
	left:0px;
	top:115px;
}
.e5_552 { 
	width:879px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e5_553 { 
	color:rgba(0, 0, 0, 1);
	width:400px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:right;
	font-size:40px;
	letter-spacing:0;
}
.e5_554 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:400px;
	height:50px;
	position:absolute;
	left:479px;
	top:25px;
}
.e5_555 { 
	width:879px;
	height:100px;
	position:absolute;
	left:0px;
	top:100px;
}
.e5_556 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:400px;
	height:50px;
	position:absolute;
	left:479px;
	top:25px;
}
.e5_557 { 
	color:rgba(0, 0, 0, 1);
	width:400px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:right;
	font-size:40px;
	letter-spacing:0;
}
.e5_564 { 
	width:879px;
	height:100px;
	position:absolute;
	left:0px;
	top:200px;
}
.e5_565 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:400px;
	height:50px;
	position:absolute;
	left:479px;
	top:25px;
}
.e5_566 { 
	color:rgba(0, 0, 0, 1);
	width:400px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:right;
	font-size:40px;
	letter-spacing:0;
}
.e5_558 { 
	width:879px;
	height:100px;
	position:absolute;
	left:0px;
	top:300px;
}
.e5_559 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:400px;
	height:50px;
	position:absolute;
	left:479px;
	top:25px;
}
.e5_560 { 
	color:rgba(0, 0, 0, 1);
	width:400px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:right;
	font-size:40px;
	letter-spacing:0;
}
.e5_561 { 
	width:879px;
	height:100px;
	position:absolute;
	left:0px;
	top:400px;
}
.e5_562 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:400px;
	height:50px;
	position:absolute;
	left:479px;
	top:25px;
}
.e5_563 { 
	color:rgba(0, 0, 0, 1);
	width:400px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:right;
	font-size:40px;
	letter-spacing:0;
}
.e5_570 { 
	width:879px;
	height:100px;
	position:absolute;
	left:0px;
	top:500px;
}
.e5_572 { 
	color:rgba(0, 0, 0, 1);
	width:400px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:right;
	font-size:40px;
	letter-spacing:0;
}
.e5_571 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:400px;
	height:60px;
	position:absolute;
	left:479px;
	top:20px;
}
.e5_573 { 
	width:300px;
	height:60px;
	position:absolute;
	left:579px;
	top:776px;
}
.e5_574 { 
	background-color:rgba(255, 255, 255, 1);
	width:300px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e5_574 { 
	border:5px solid rgba(0, 99.00000169873238, 65.0000037252903, 1);
}
.e5_575 { 
	color:rgba(0, 0, 0, 1);
	width:200px;
	height:60px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e5_549 { 
	color:rgba(255, 255, 255, 1);
	width:1000px;
	height:48px;
	position:absolute;
	left:0px;
	top:6px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e5_550 { 
	width:40px;
	height:40px;
	position:absolute;
	left:594px;
	top:10px;
}
.ei5_550_54616_25460 { 
	background-color:rgba(255, 255, 255, 1);
	width:33.333335876464844px;
	height:33.333335876464844px;
	position:absolute;
	left:3.3333330154418945px;
	top:3.3333330154418945px;
}
.e5_516 { 
	background-color:rgba(0, 99.00000169873238, 65.0000037252903, 1);
	width:1728px;
	height:350px;
	position:absolute;
	left:0px;
	top:1500px;
}
.e5_517 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:260px;
	height:350px;
	position:absolute;
	left:114px;
	top:0px;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e5_518 { 
	width:223.4688720703125px;
	height:227px;
	position:absolute;
	left:524px;
	top:48px;
}
.e5_519 { 
	width:222.75px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}
.e5_520 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:140px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e5_521 { 
	width:25.0510196685791px;
	height:25px;
	position:absolute;
	left:0px;
	top:50px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_522 { 
	width:60.22195816040039px;
	height:25px;
	position:absolute;
	left:64px;
	top:50px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_523 { 
	width:60.75px;
	height:25px;
	position:absolute;
	left:162px;
	top:50px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_524 { 
	width:223.4688720703125px;
	height:130px;
	position:absolute;
	left:0px;
	top:97px;
}
.e5_525 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:210px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e5_526 { 
	width:56px;
	height:25px;
	position:absolute;
	left:0px;
	top:60px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_527 { 
	width:56px;
	height:25px;
	position:absolute;
	left:0px;
	top:105px;
	background-image:url(images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_528 { 
	width:55px;
	height:25px;
	position:absolute;
	left:85px;
	top:105px;
	background-image:url(images/image_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_529 { 
	width:55.5px;
	height:25px;
	position:absolute;
	left:84px;
	top:60px;
	background-image:url(images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_530 { 
	width:56.4688720703125px;
	height:25px;
	position:absolute;
	left:167px;
	top:60px;
	background-image:url(images/image_10.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_531 { 
	width:56px;
	height:25px;
	position:absolute;
	left:167px;
	top:105px;
	background-image:url(images/image_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_532 { 
	width:275px;
	height:146px;
	position:absolute;
	left:936px;
	top:48px;
}
.e5_533 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:275px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e5_534 { 
	background-color:rgba(0, 99.00000169873238, 65.0000037252903, 1);
	width:25px;
	height:25px;
	position:absolute;
	left:0px;
	top:60px;
}
.i5_534_7758_11552 { 
	border:4px solid rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
}
.ei5_534_7758_11552 { 
	width:11.458333969116211px;
	height:20.833332061767578px;
	position:absolute;
	left:7.291666507720947px;
	top:2.0833332538604736px;
}
.e5_535 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:95px;
	height:60px;
	position:absolute;
	left:45px;
	top:43px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e5_536 { 
	width:25px;
	height:25px;
	position:absolute;
	left:0px;
	top:103px;
}
.i5_536_7758_11762 { 
	border:4px solid rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
}
.ei5_536_7758_11762 { 
	width:20.833332061767578px;
	height:20.833332061767578px;
	position:absolute;
	left:2.0833332538604736px;
	top:2.0833332538604736px;
}
.e5_537 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:95px;
	height:60px;
	position:absolute;
	left:45px;
	top:86px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e5_538 { 
	width:248.264404296875px;
	height:180px;
	position:absolute;
	left:1366px;
	top:104px;
}
.e5_539 { 
	transform: rotate(-90deg);
	color:rgba(239.00000095367432, 255, 244.0000006556511, 1);
	width:180px;
	height:60px;
	position:absolute;
	left:0px;
	top:180px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e5_540 { 
	width:188.264404296875px;
	height:180px;
	position:absolute;
	left:60px;
	top:0px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
